@charset "utf-8";
/* CSS Document */

/* reset da modelo */
.navegacao div a:first-child {
	pointer-events: none;
}
.icone-home,.icone-home:hover {
	opacity: .5;
}
.corpo,.conteudos {
	max-width: 2000px;
	padding-left: 0;
	padding-right: 0;
}
.conteudos-navegacao {
	display: none;
	visibility: hidden;
}
/* banners */
.banners {
	display: block;
	margin: 0 auto;
	max-height: 377px;
	max-width: 2000px;
	min-height: 33px;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 9;
}
.banner {
	display: block;
	margin: 0 auto;
	max-height: 377px;
	max-width: 2000px;
	width: 100%;
	z-index: 2;
}
.banners-nav-container {
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 15;
}
.banners-nav {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}
.banners-nav-esq, .banners-nav-dir {
	display: inline-block;
	height: 35px;
	opacity: .6;
	width: 35px;
}
.banners-nav-esq:hover,.banners-nav-esq:focus, .banners-nav-dir:hover,.banners-nav-dir:focus {
	opacity: 1;
}
.banners-nav-esq {
	background: url(../img/seta-esquerda.svg) no-repeat left top;
	float: left;
}
.banners-nav-dir {
	background: url(../img/seta-direita.svg) no-repeat left top;
	float: right;
	margin-right: 25%;
}
/* resultados online */
.resultados-online-container {
	left: 0;
	position: absolute;
	top: 15%;
	width: 100%;
	z-index: 15;
}
.resultados-online-container-fixo {
	margin: 0 auto;
	max-width: 1050px;
	width: 100%;
}
.resultados-online {
	margin-left: auto;
	margin-right: 0;
	max-width: 230px;
	width: 100%;
}
.resultados-online-cabecalho {
	padding-left: 7px;
}
.resultados-online-titulo {
	max-width: 168px;
	width: 100%;
}
#resultados-online-form {
	background-image: -moz-linear-gradient( 90deg, rgb(191,0,0) 0%, rgb(138,0,0) 5%, rgb(180,0,0) 47%, rgb(216,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(191,0,0) 0%, rgb(138,0,0) 5%, rgb(180,0,0) 47%, rgb(216,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(191,0,0) 0%, rgb(138,0,0) 5%, rgb(180,0,0) 47%, rgb(216,0,0) 100%);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-top: solid 2px #f48f90;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.098), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
	display: block;
	margin: 15px 0;
	margin-bottom: 0;
	padding: 15px;
	position: relative;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.294);
	width: 100%;
}
#resultados-online-form:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #e01111;
	content: "";
	height: 0;
	left: 12px;
	position: absolute;
	top: -7px;
	width: 0;
}
#resultados-online-form label {
	color: #fff;
	font-family: 'arialboldmt';
	font-size: 1.3rem;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.294);
}
#resultados-online-form input {
	display: block;
}
#resOnProtocolo, #resOnSenha {
	background: #880000;
	border: none;
	border-bottom: solid 1px #d50000;
	border-top: solid 1px #7b0101;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.294), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.294);
	color: #fff;
	font-family: 'arialboldmt';
	font-size: 1.2rem;
	max-width: 200px;
	padding: 1rem;
	width: 100%;
}
#resOnProtocolo::-webkit-input-placeholder, #resOnSenha::-webkit-input-placeholder {
	color: #fff;
}
#resOnProtocolo input:-moz-placeholder, #resOnSenha input:-moz-placeholder {
	color: #fff;
}
#resOnProtocolo textarea:-moz-placeholder, #resOnSenha textarea:-moz-placeholder {
	color: #fff;
}
#resOnProtocolo:focus, #resOnSenha:focus {
	background: #f5f2da;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #000;
	outline: none;
}
#resOnSenha {
	margin-bottom: 15px;
}
#resOnBt {
	background: transparent;
	border: none;
	color: #fff;
	font-family: 'arialboldmt';
	font-size: 1.2rem;
	text-align: right;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.294);
	width: 100%;
}
.resultados-saiba-link {
	color: #383838;
	font-family: 'latobold';
	font-size: 1.25rem;
}
.resultados-saiba-link:hover {
	color: #383838;
}
/* chamadas servicos */
.titulos, .titulos h1 {
	padding: 0;
	text-align: center;
}
.titulos h1 a:first-child, .titulos h1 a:nth-child(3) {
	background: #ec5763;
}
.links-servicos {
	display: inline-block;
	max-width: 270px;
	padding: 39px 0 41px 0;
	text-align: center;
	width: 100%;
}
.links-servicos img {
	max-width: 98px;
	width: 100%;
}
/* noticias e informes */
.noticias-informes-container {
	margin: 0 auto;
	max-width: 1093px;
	overflow: visible;
}
.noticias-container {
	border-right: solid 1px #f0626e;
	display: inline-block;
	float: left;
	margin-right: 2%;
	max-width: 695px;
	padding-right: 30px;
	position: relative;
	text-align: center;
	width: 100%;
}
.noticias-container:after {
	background: url(../img/nicho-vertical.svg) no-repeat left top;
	content: "";
	height: 36px;
	position: absolute;
	right: -13px;
	top: 50%;
	width: 14px;
}
.noticias-cabecalho {
	color: #d01925;
	font-family: 'corbelbold';
	font-size: 2.5rem;
	letter-spacing: -.1rem;
	text-align: left;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.071);
	width: 100%;
}
.noticias-cabecalho span {
	background: url(../img/home-noticias-titulo-divisao.png) no-repeat right 12px;
	background-size: 75%;
	display: inline-block;
	max-width: 336px;
	width: 100%;
}
.noticias-botao {
	float: right;
	max-width: 90px;
	width: 100%;
}
.noticia {
	display: inline-block;
	line-height: 1.8rem;
	margin: 15px auto;
	max-width: 199px;
	text-align: justify;
	width: 100%;
}
.noticia a {
	color: #303030;
	font-family: 'open_sansregular';
	font-size: 1.3rem;
}
.noticias-container div:nth-child(3) { /* noticia do meio (2) */
	margin: 15px 4%;
}
.noticia-img {
	border: solid 4px #e32232;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.075);
	display: block;
	margin-bottom: 18px;
}
.noticia-titulo {
	display: block;
	font-weight: bold;
	line-height: 2.2rem;
}
/* informes */
.informes-container {
	display: inline-block;
	float: left;
	max-width: 371px;
	width: 100%;
}
.informes-cabecalho {
	background: url(../img/home-informes-titulo-icone.png) no-repeat left 4px;
	color: #d01925;
	font-family: 'corbelbold';
	font-size: 2.5rem;
	letter-spacing: -.1rem;
	margin-bottom: 14px;
	padding-left: 29px;
	text-align: left;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.071);
	width: 100%;
}
.informe {
	font-family: 'open_sansregular';
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 6px 2%;
	width: 98%;
}
.informe a {
	color: #434343;
}
.informe-titulo {
	font-weight: bold;
}
.informes-container div:nth-child(3) { /* informe do meio (2) */ 
	border-bottom: solid 2px #948385;
	border-top: solid 2px #948385;
	margin: 15px auto;
}
/* videos e unidades */
.videos-unidades-fundo {
	background: #f5d8d8;
	border-bottom: solid 5px #d94251;
	float: left;
	margin-top: 30px;
	overflow: visible;
	width: 100%;
}
.videos-unidades-container {
	margin: 0 auto;
	max-width: 1080px;
	width: 100%;
}
.videos {
	border-right: dashed 1px #c42332;
	display: inline-block;
	float: left;
	margin-right: 23px;
	margin-top: 13px;
	max-width: 328px;
	padding: 8px 0;
	padding-right: 23px;
	width: 100%;
}
.videos-cabecalho {
	color: #b41826;
	display: block;
	font-family: 'corbelregular';
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 15px;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.071);
	width: 100%;
}
.videos-cabecalho span {
	color: #070707;
}
.icone-videos {
	margin-left: 7px;
	max-width: 46px;
}
.video {
	max-height: 170px;
}
/* unidades*/
.unidades-container {
	display: inline-block;
	float: left;
	max-width: 706px;
	padding-top: 7px;
	width: 100%;
}
.unidades-cabacalho, .unidades-txt {
	display: inline-block;
	float: left;
	margin-right: 23px;
	max-width: 397px;
	width: 100%;
}
.unidades-cabacalho {
	color: #b41826;
	font-family: 'corbelregular';
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 8px;
	padding-top: 18px;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.071);
}
.unidades-cabacalho span {
	color: #070707;
}
.unidades-txt {
	color: #585454;
	font-family: 'corbelregular';
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 3.2rem;
	text-align: justify;
}
/* outros servicos e mapa */
.outros-servicos-mapa-container {
	float: left;
	overflow: visible;
	width: 100%;
}
.outros-servicos-container {
	margin: 0 auto;
	max-width: 1080px;
	padding: 31px 2%;
	text-align: center;
	width: 100%;
}
.outros-servicos-container a {
	border-right: solid 1px #c42332;
	display: inline-block;
	height: 169px;
	margin: 15px 0;
	padding: 0 1.5%;
	padding-top: 8px;
	text-align: center;
}
.outros-servicos-container a:last-child {
	border-right: none;
}
.outros-servicos-container a img {
	max-width: 160px;
	width: 100%;
}
/* mapa */
.mapa-container {
	margin: 0 auto;
	max-width: 2000px;
	width: 100%;
}
.mapa-img {
	max-width: 2000px;
	width: 100%;
}

/* responsividades */
@media screen and (min-width: 768px) {
.titulos {
	min-height: 256px;
}
.titulos h1 a {
	width: 35%;
}
}
@media screen and (max-width: 1100px) and (min-width: 768px) {
.resultados-online-container-fixo, .banners-nav-container, .noticias-informes-container, .videos-unidades-container {
	padding: 0 2%;
}
.noticias-container, .informes-container, .videos, .unidades-container {
	border-right: none;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 1090px;
}
.noticias-container:after {
	display: none;
	visibility: hidden;
}
.video {
	max-height: 350px;
}
.unidades-cabacalho, .unidades-txt {
	display: block;
	float: none;
}
.unidades-txt {
	margin-bottom: 15px;
	max-width: 1090px;
	width: 100%;
}
.unidades-img {
	float: none;
	display: block;
	margin: 0 auto;
}
}
@media screen and (max-width: 1684px) and (min-width: 768px) {
.banners {
	height: 100rem;
	max-height: 313px;
}
}
@media screen and (max-width: 1115px) and (min-width: 768px) {
.titulos h1 a {
	padding: inherit 2%;
	width: 20%;
}
}
@media screen and (max-width: 1052px) and (min-width: 905px) {
.banners-nav-container {
	padding: 0 6%;
}
}
@media screen and (max-width: 904px) and (min-width: 768px) {
.banners-nav-container {
	padding: 0 18%;
}
}
@media screen and (max-width: 1021px) {
.outros-servicos-container a {
	border: none;
	padding: 0;
}
}
@media screen and (max-width: 767px) {
.resultados-online-container {
	margin: 20px auto;
	position: relative;
}
.resultados-online-container-fixo {
	margin: 0 auto;
	max-width: 727px;
	overflow: visible;
	width: 100%;
}
.resultados-online {
	margin: 0 auto;
	max-width: 727px;
	min-height: 160px !important;
	padding: 0 2%;
	width: 100%;
}
#resultados-online-form {
	float: left;
}
#resultados-online-form label, #resOnProtocolo, #resOnSenha, #resOnBt {
	display: inline-block;
	float: left;
}
#resultados-online-form label {
	line-height: 3.8rem;
	margin-right: 8px;
}
#resOnProtocolo {
	margin-right: 25px;
}
#resOnBt {
	line-height: 3.8rem;
	max-width: 145px;
	margin-left: 5px;
	width: 15%;
}
.banners-nav-container {
	bottom: 5%;
	top: auto;
}
.banners-nav-esq {
	margin-left: 2%;
}
.banners-nav-dir {
	margin-right: 2%;
}
.titulos {
	float: left;
	height: auto;
	overflow: visible;
}
.titulos,.titulos h1 {
	height: 100rem;
	max-height: 202px;
}
.links-servicos {
	padding: 2%;
	width: 24%;
}
.noticias-informes-container, .videos-unidades-container {
	padding-left: 2%;
	padding-right: 2%;
}
.noticias-container, .informes-container, .videos, .unidades-container {
	border-right: none;
	display: block;
	float: none;
	margin: 15px auto;
	max-width: 757px;
	width: 100%;
}
.noticias-container {
	margin-right: 0;
	padding-right: 0;
}
.noticias-container:after {
	display: none;
}
.video {
	max-height: 350px;
}
.unidades-img {
	max-width: 282px;
	width: 35%;
}
}
@media screen and (max-width: 760px) {
.titulos {
	display: none;
	visibility:hidden;
}
}
@media screen and (max-width: 716px) {
#resOnBt {
	display: block;
	float: right;
	line-height: normal;
	margin-left: auto;
	width: 97px;
}
}
@media screen and (max-width: 690px) {
.unidades-cabacalho, .unidades-txt {
	display: block;
	float: none;
	max-width: 680px;
	width: 100%;
}
.unidades-img {
	display: block;
	float: none;
	margin: 15px auto;
	min-width: 282px;
	width: 100%;
}
}
@media screen and (max-width: 611px) {
#resultados-online-form label, #resOnProtocolo, #resOnSenha, #resOnBt {
	display: block;
	float: none;
}
#resOnProtocolo,#resOnSenha, #resOnBt {
	max-width: 600px;
	width: 100%;
}
#resOnBt {
	text-align: center;
}
}
@media screen and (max-width: 460px) {
.noticias-cabecalho {
	border-bottom: solid 1px #CF2F32;
	padding-bottom: 5px;
}
.noticias-cabecalho span {
	background: none;
	width: 40%;
}
}